@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

<h2>Client Details</h2>

<br>
<p>@Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)</p>
<p>@Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)</p>  
<p>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</p>
<p>Stylist: @Model.Stylist.FirstName @Model.Stylist.LastName</p>

<p>@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete this Client", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink($"Back to {Model.Stylist.FirstName}'s page", "Details", "Stylists", new { id = Model.StylistId })</p>